<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Respuesta a Solicitud de Dominio</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; padding: 20px;">
<h2 style="color: #2c3e50;">Respuesta a Solicitud de Dominio</h2>
<p>
    Estimado/a <strong>{{descripcionSolicitante}}</strong>,
</p>
<p>
    Su solicitud para el dominio
    <strong>{{dominio}}{{tld}}</strong>
    ha sido <strong>{{nuevoEstado}}</strong>.
    <br>
    <br>{{razon}}</br>
</p>
<p style="margin-top: 20px;">
    Si tiene alguna duda, no dude en contactarnos. <br>
    <strong>Equipo ChibchaWeb</strong>
</p>
<div style="margin-top: 30px; text-align: left;">
    <img src="cid:logo" alt="Logo ChibchaWeb" width="150" style="margin: 0;">
</div>
</body>
</html>